/* client/src/components/Sidebar/Sidebar.css */



.sidebar {
    position: fixed;
    top: 80px; /* Выравниваем боковую панель под шапкой */
    left: 0;
    width: 200px;
    padding: 20px;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    z-index: 999; /* Задаем занимаемый уровень z-index ниже шапки */
    transition: transform 0.3s ease;

}

.sidebar.hidden {
    transform: translateX(-200px); /* Скрываем боковую панель по горизонтали за пределы экрана */
}




h3 {
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 8px;
    cursor: pointer;
    color: #343a40;
}

li:hover {
    text-decoration: underline;
}


@media screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }
}