/* client/src/components/Header/Header.css */


.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 70px;
    background-color: #c8efd5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    z-index: 1000; /* Устанавливаем высокий z-index для уверенности в отображении над контентом */
    transition: transform 0.3s ease; /* Добавляем анимацию для плавного скрытия/показа */

}



.header.hidden {
    transform: translateY(-50px); /* Скрываем шапку по вертикали за пределы экрана */
}




.site-name {
    font-weight: bold;
    font-size: 35px;
}

.icons-and-number {
    display: flex;
    align-items: center;
}

.social-icons {
    display: flex;
}

.social-icons a {
    color: #3b5998; /* Цвет Facebook */
    text-decoration: none;
    margin-right: 100px;
    cursor: pointer;
    font-size: 25px;
}

.social-icons a:hover {
    color: #007bff; /* Цвет при наведении (синий) */
}

.phone-number {
    margin-left: auto; /* Поместить номер телефона в конец родительского контейнера */
    margin-right: 20px;
    cursor: pointer;
    font-size: 26px;
}

.phone-number:hover {
    color: #007bff;
}

.search-section input {
    padding: 5px;
    width: 200px;
}

@media only screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }
    .site-name {
        font-weight: bold;
        font-size: 20px;
    }

    .icons-and-number {
        flex-direction: column;
        align-items: flex-start;
    }

    .social-icons {
        margin-top: 5px;
        margin-bottom: 10px;
        margin-left: 15px;
    }
.tel {
    margin-left: 15px;
}

    .search-section {
        margin-top: 10px;
    }


    .social-icons a {
        color: #3b5998; /* Цвет Facebook */
        text-decoration: none;
        margin-right: 30px;
        cursor: pointer;
    }

}
